Repository easybuilders/easybuild-docs, pull requests merged in 2025-03, with the labels that each got.

#296 sync changes from `main`
  docs/easybuild-v5/5.0.0beta1.md
  docs/easybuild-v5/release-candidates.md
Labels: update

#295 update installation and Python compat pages for EasyBuild 5.0
  docs/installation.md
  docs/python-2-3-compatibility.md
  mkdocs.yml
Labels: update, EasyBuild-5.0

#299 use fixed commits for GitHub Actions workflows + various small fixes
  .github/workflows/deploy.yml
  .github/workflows/flake8.yml
  .github/workflows/markdown-linting.yml
  .github/workflows/test.yml
  .github/workflows/yamllint.yml
  docs/easybuild-v5/5.0.0beta1.md
  docs/easybuild-v5/release-candidates.md
  docs/including-additional-python-modules.md
  docs/index.md
  docs/integration-with-github.md
  mkdocs.yml
Labels: bug fix, documentation

#298 no longer experimental or removed
  docs/easystack-files.md
  docs/experimental-features.md
  docs/installing-extensions-in-parallel.md
  docs/writing-yeb-easyconfig-files.md
  mkdocs.yml
Labels: update, EasyBuild-5.0

#297 structure for EB5 documentation
  docs/easybuild-v5/changes-in-default-configuration.md
  docs/easybuild-v5/changes.md
  docs/easybuild-v5/deprecated-functionality.md
  docs/easybuild-v5/enhancements.md
  docs/easybuild-v5/index.md
  docs/easybuild-v5/known-issues.md
  docs/easybuild-v5/removed-functionality.md
  docs/easybuild-v5/run_shell_cmd.md
  docs/implementing-easyblocks.md
  docs/interactive-debugging-failing-shell-commands.md
  mkdocs.yml
Labels: EasyBuild-5.0

#301 add documentation about new search path options in EasyBuild 5.0
  docs/easybuild-v5/enhancements.md
Labels: EasyBuild-5.0

#303 add release notes for EasyBuild v5.0.0
  docs/release-notes.md
  mkdocs.yml
Labels: documentation, update, EasyBuild-5.0

#306 fix broken link to changes in easybuild 5.0
  docs/easybuild-v5/changes.md
  mkdocs.yml
Labels: EasyBuild-5.0

#309 remove section about allowing missing easyblocks in parallel extensions
  docs/easybuild-v5/enhancements.md
  docs/easybuild-v5/index.md
Labels: EasyBuild-5.0

#308 add documentation about new collection of templates in EasyBuild 5.0
  docs/easybuild-v5/enhancements.md
  docs/easybuild-v5/index.md
Labels: EasyBuild-5.0

#307 update documentation of EasyBuild 5.0 with revamp of modextrapaths
  docs/easybuild-v5/deprecated-functionality.md
  docs/easybuild-v5/enhancements.md
  docs/easybuild-v5/index.md
Labels: EasyBuild-5.0

#243 document `download_instructions` enhancements in EasyBuild 5.0
  docs/easybuild-v5/enhancements.md
  docs/writing-easyconfig-files.md
Labels: EasyBuild-5.0

#310 add documentation about configuremake errors on unrecognized options
  docs/easybuild-v5/enhancements.md
  docs/easybuild-v5/index.md
  docs/writing-easyconfig-files.md
Labels: EasyBuild-5.0
